run = "python gui_game.py"

[modules]
modules = ["python-3.10"]

[nix]
channel = "stable-23_11"

[packager]
PKGS = ["python310Packages.tkinter", "xorg.xauth", "libX11", "tk"]

[interpreter]
command = ["python3"]